body {
  background-color: #a3dbff;
  font-family: "Poppins", sans-serif;
}

img {
  width: 15rem;
  position: relative;
  margin-right: 50%;
  display: inline;
}

button {
  margin: auto;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 10px;
  border-radius: 10px;
  border: none;
  color: white;
  font-size: 1.1rem;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

h1 {
  font-family: "Patrick Hand", cursive;
  text-align: center;
  font-size: 3rem;
  background: linear-gradient(to bottom, #ffec3f 0%, #ffec3f 50%, #b8e523 50%);
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

p {
  text-align: center;
  display: flex;
  margin-left: 50%;
  width: 40rem;
  font-size: 1.4rem;
  color: white;
  margin-bottom: 0;
}

.text {
  display: flex;
  justify-content: center;
}

#button-1 {
  background-color: #ff4a4a;
  transition-duration: 0.2s;
  transition-delay: 0.2s;
}

#button-1:hover {
  background-color: white;
  color: #ff4a4a;
}

#button-2 {
  background-color: #ffec3f;
  transition-duration: 0.2s;
  transition-delay: 0.2s;
}

#button-2:hover {
  background-color: white;
  color: #ffec3f;
}

#button-3 {
  background-color: #b8e523;
  transition-duration: 0.2s;
  transition-delay: 0.2s;
}

#button-3:hover {
  background-color: white;
  color: #b8e523;
}
