:root {
  --text-color: #470304;
  --background-color: #5ce1e6;
  --red: #ff4a4a;
  --yellow: #ffec3f;
  --green: #b8e523;
  --font: "PatrickHand, cursive";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.budgie-buddies {
  margin-top: 8rem;
  text-align: center;
}

a {
  color: var(--text-color);
  text-decoration: underline 1px;
  text-align: center;
}

body {
  background-color: var(--background-color);
  font-family: "";
  color: var(--text-color);
  font-family: "Patrick Hand", cursive;
}

img {
  width: 100%;
  height: auto;
}

.image {
  width: 380px;
}

#gif {
  margin-left: 7.5rem;
  clip-path: path(
    "M269 366.5c-2.2.6-3.9 1.4-5.6 1.6-9.6.8-19.1 1.6-28.7 2.3-4.9.3-9.8.6-14.7.7-5.3.2-10.6.5-15.8.3-5-.1-10-.4-14.8-1.3-6.2-1.1-12.5-1.1-18.6-2.1-15.9-2.6-32.1-1.9-48.1-3-9-.6-18-2-27-3.2-10.2-1.3-20.4-2.8-30.7-4.2-7.5-1-15.1-2-22.6-3-.2 0-.4-.1-.6-.1-6.3-2.7-13-4.8-18.8-8.3-9.8-6-14-15.6-14.4-26.9-.1-3.9-.6-7.7-.6-11.6.1-5.4.5-10.7.8-16 .8-15.8 1.2-31.6 0-47.4-1.1-14.2-2.1-28.3-3.2-42.5-.7-9.1-1.6-18.1-2.2-27.2-.4-6-.3-12.1-.7-18.1-.2-3.4-1.3-6.7-1.4-10.1-.4-8.2-.5-16.5-.7-24.8-.1-3.2-.6-6.4-.5-9.6.1-5 .7-10 .8-15C1 91.2.4 85.4.6 79.7c0-5.5.7-10.9 1.4-16.4.2-1.9 1.6-3.6 2-5.5 1.7-9.4 3.5-18.8 7.9-27.5 1-1.9 2.6-3.6 4.1-5.1.5-.5 1.7-.2 2-.2.7-1.3 1.1-2.6 1.9-3.2 4.3-3.3 8.8-5.7 14.4-6.3 4.2-.5 8.3-2.3 12.5-3.3C51.9 11 57 9.6 62.3 8.9c4.8-.6 9.4-1.9 14.3-2.3 5-.4 10-1.6 15.1-2 13.8-1 27.7-1.7 41.5-2.5 3.4-.2 6.8 0 10.2.1 1.7.1 3.4.5 5.2.7.8.1 1.6-.2 2.4-.2 2.4 0 4.9 0 7.3-.1 4.6-.2 9.3-.7 13.9-.7 4.5 0 9 .3 13.5.5h3.6c5.5-.2 10.9-.2 16.4-.5 5.3-.3 10.5-1 15.8-1.3 2.5-.2 5.1-.2 7.6.3 3.8.7 7.4 1.1 11.2 0 1.4-.4 3.2.3 4.8.5.7.1 1.5.3 1.9 0 2.7-2 5.2-1.5 7.8.2.3.2 1.1-.3 1.7-.3 2.4 0 4.8 0 7.3.1 1.8.1 3.5.7 5.3.9 3.9.5 7.9 1.3 11.9 1.3 7.5.1 15 .4 22.4 2 6.9 1.5 14 1.5 21 2.7 4.2.7 8.5 2 12.1 4.1 3.9 2.2 6.9 5.8 10.4 8.8 1.3 1.1 3.2 1.9 4.1 3.3 2.6 3.8 4.9 7.8 7.2 11.8 1.7 2.9 3.4 5.9 4.7 8.9 1.4 3.5 2.5 7.1 3.6 10.8 1.7 5.8 3.7 11.6 4.8 17.6 1.6 8.4 2.4 17 3.6 25.5.4 2.8.9 5.6 1.1 8.4.6 8 1 15.9 1.5 23.9.7 9.9 1.7 19.7 2.2 29.6.5 9.5.9 19.1.7 28.7-.3 16-1.1 31.9-1.9 47.9-.5 9.9-1.2 19.7-2.2 29.5s-2.5 19.5-3.6 29.3c-.8 6.8-1 13.6-1.9 20.3-.8 6.1-3.8 11.5-7.8 16-3.3 3.8-5.9 8.1-9.3 11.8-3 3.3-6.3 6.6-11.5 6.7-1.2 0-2.3 1.2-3.5 1.8-5.1 2.2-10.4 4.1-15.4 6.5-9.2 4.4-19.1 5.1-29 5.5-3.8.2-7.7-.1-11.5.2-1.9.1-3.7 1-5.5 1.4-.8.2-1.6.1-2.5.2-1.2.1-2.4.4-3.6.3-1.2-.2-2-.6-2.2-.6z"
  );
}

#budgie-1 {
  margin-right: 7.5rem;
}

.nav {
  display: flex;
  justify-content: right;
  margin-top: 2%;
  margin-right: 3%;
}

h1 {
  text-align: center;
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

a {
  font-size: 2rem;
}

p {
  text-align: left;
  max-width: 50ch;
  font-size: 2rem;
  margin-bottom: 0;
}

.about {
  margin-top: 20%;
}

span {
  font-size: 3rem;
}

.container {
  margin-top: 7em;
}

.text-image,
.about {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.about img {
  clip-path: path(
    "M269 366.5c-2.2.6-3.9 1.4-5.6 1.6-9.6.8-19.1 1.6-28.7 2.3-4.9.3-9.8.6-14.7.7-5.3.2-10.6.5-15.8.3-5-.1-10-.4-14.8-1.3-6.2-1.1-12.5-1.1-18.6-2.1-15.9-2.6-32.1-1.9-48.1-3-9-.6-18-2-27-3.2-10.2-1.3-20.4-2.8-30.7-4.2-7.5-1-15.1-2-22.6-3-.2 0-.4-.1-.6-.1-6.3-2.7-13-4.8-18.8-8.3-9.8-6-14-15.6-14.4-26.9-.1-3.9-.6-7.7-.6-11.6.1-5.4.5-10.7.8-16 .8-15.8 1.2-31.6 0-47.4-1.1-14.2-2.1-28.3-3.2-42.5-.7-9.1-1.6-18.1-2.2-27.2-.4-6-.3-12.1-.7-18.1-.2-3.4-1.3-6.7-1.4-10.1-.4-8.2-.5-16.5-.7-24.8-.1-3.2-.6-6.4-.5-9.6.1-5 .7-10 .8-15C1 91.2.4 85.4.6 79.7c0-5.5.7-10.9 1.4-16.4.2-1.9 1.6-3.6 2-5.5 1.7-9.4 3.5-18.8 7.9-27.5 1-1.9 2.6-3.6 4.1-5.1.5-.5 1.7-.2 2-.2.7-1.3 1.1-2.6 1.9-3.2 4.3-3.3 8.8-5.7 14.4-6.3 4.2-.5 8.3-2.3 12.5-3.3C51.9 11 57 9.6 62.3 8.9c4.8-.6 9.4-1.9 14.3-2.3 5-.4 10-1.6 15.1-2 13.8-1 27.7-1.7 41.5-2.5 3.4-.2 6.8 0 10.2.1 1.7.1 3.4.5 5.2.7.8.1 1.6-.2 2.4-.2 2.4 0 4.9 0 7.3-.1 4.6-.2 9.3-.7 13.9-.7 4.5 0 9 .3 13.5.5h3.6c5.5-.2 10.9-.2 16.4-.5 5.3-.3 10.5-1 15.8-1.3 2.5-.2 5.1-.2 7.6.3 3.8.7 7.4 1.1 11.2 0 1.4-.4 3.2.3 4.8.5.7.1 1.5.3 1.9 0 2.7-2 5.2-1.5 7.8.2.3.2 1.1-.3 1.7-.3 2.4 0 4.8 0 7.3.1 1.8.1 3.5.7 5.3.9 3.9.5 7.9 1.3 11.9 1.3 7.5.1 15 .4 22.4 2 6.9 1.5 14 1.5 21 2.7 4.2.7 8.5 2 12.1 4.1 3.9 2.2 6.9 5.8 10.4 8.8 1.3 1.1 3.2 1.9 4.1 3.3 2.6 3.8 4.9 7.8 7.2 11.8 1.7 2.9 3.4 5.9 4.7 8.9 1.4 3.5 2.5 7.1 3.6 10.8 1.7 5.8 3.7 11.6 4.8 17.6 1.6 8.4 2.4 17 3.6 25.5.4 2.8.9 5.6 1.1 8.4.6 8 1 15.9 1.5 23.9.7 9.9 1.7 19.7 2.2 29.6.5 9.5.9 19.1.7 28.7-.3 16-1.1 31.9-1.9 47.9-.5 9.9-1.2 19.7-2.2 29.5s-2.5 19.5-3.6 29.3c-.8 6.8-1 13.6-1.9 20.3-.8 6.1-3.8 11.5-7.8 16-3.3 3.8-5.9 8.1-9.3 11.8-3 3.3-6.3 6.6-11.5 6.7-1.2 0-2.3 1.2-3.5 1.8-5.1 2.2-10.4 4.1-15.4 6.5-9.2 4.4-19.1 5.1-29 5.5-3.8.2-7.7-.1-11.5.2-1.9.1-3.7 1-5.5 1.4-.8.2-1.6.1-2.5.2-1.2.1-2.4.4-3.6.3-1.2-.2-2-.6-2.2-.6z"
  );
}

.text {
  display: flex;
  justify-content: center;
}

.team {
  text-align: center;
  margin-bottom: 10%;
  margin-top: 20%;
}

.team a {
  text-decoration: none;
}

.team a:hover {
  text-decoration: underline;
}

.team img {
  width: 280px;
  margin-top: 10%;
}

.team-images {
  display: flex;
  justify-content: center;
}

.team-image-text {
  text-align: center;
}

#button-1 {
  background-color: var(--red);
  transition-duration: 0.2s;
  transition-delay: 0.2s;
}

#button-1:hover {
  background-color: white;
  color: var(--red);
}

#button-2 {
  background-color: var(--yellow);
  transition-duration: 0.2s;
  transition-delay: 0.2s;
}

#button-2:hover {
  background-color: white;
  color: var(--yellow);
}

#button-3 {
  background-color: var(--green);
  transition-duration: 0.2s;
  transition-delay: 0.2s;
}

#button-3:hover {
  background-color: white;
  color: var(--green);
}

h3 {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  color: white;
}

@media only screen and (max-width: 700px) {
  p {
    font-size: 1.5rem;
    text-align: center;
  }
  img {
    width: 250px;
    display: flex;
    justify-content: center;
  }

  .team {
    flex-direction: column;
  }

  .team-text-image {
    flex-direction: column;
  }

  .team img {
    width: 150px;
  }
  .text-image {
    display: flex;
    justify-content: center;
  }
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 2.5rem;
  }
}
